@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  .title {
    @include titleOfPage;
  }

  .headContainer {
    display: flex;
    justify-content: flex-end;

    .btnContainer {
      text-align: right;
    }
  }

  .btn__more {
    a {
      color: $color-primary;
    }
  }
}
