@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  .title {
    @include titleOfPage;
  }

  .formContainer {
    padding: $main-spacing;
  }

  .box {
    width: 100%;
  }

  .btn {
    width: 100%;
    margin: 4*$main-spacing;
  }

  .subtitle {
    margin-top: 2*$main-spacing;
  }
}
