@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  .title {
    @include titleOfPage;
  }

  .containerHomepage {
    .box {
      &__item {
        margin: $base-size/2;
      }
    }
  }

  .subtitle {
    margin: $base-size;
  }

  .btnContainer {
    text-align: center;
  }



  .table {
    &__body {
      th, td {
        font-size: 0.8rem;
      }

      .btn__more {
        a {
          color: $color-primary;
        }
      }
    }

  }

}
