@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  .title {
    @include titleOfPage;
  }

  .containerHomepage {
    .box {
      &__item {
        margin: $base-size/2;
      }
    }
  }

  .subtitle {
    margin: $base-size;
  }

  .btnContainer {
    text-align: center;

    &__item {
      @include btn;
    }

    &__more {
      a {
        color: $color-primary;
      }
    }
  }

  .table {
    &__body {
      th, td {
        font-size: 0.8rem;
      }
    }

  }

}
